.btn-group{
    display: flex;
    flex-direction: column;
}
.variant{
    width: 100%;
    margin-bottom: 10px;
    text-align: left !important;
    text-transform: initial !important;
}
.btn-group{
    width: 100%;
    box-shadow: none !important;
}
p{
    font-weight: bolder;
    font-size: 25px;
}
.footer{
    display: flex;
}
.index{
    margin: auto 0 auto 0;
}