.main {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.475);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.75);
  min-width: 300px;
}
body {
  background-color: rgb(1, 123, 254) !important;
  width: 100%;
  min-height: 1rem;
}
